@model SMEcommerceApp.Models.ContactModels.Address


   @ViewBag.Title Adress Details


<table>
    <tr>
        <td>
            <b>Name:</b>
        </td>
        <td>@Model.Name</td>
    </tr>

    <tr>
        <td><b>Street:</b></td>
        <td>@Model.Street</td>
    </tr>
    <tr>
        <td>
            <b>City:</b>
        </td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td>
            <b>State:</b>
        </td>
        <td>@Model.State</td>
    </tr>

    <tr>
        <td>
            <b>Postal Code:</b>
        </td>
        <td>@Model.PostalCode</td>
    </tr>




</table>




<h2>Contact</h2>
